﻿@if (Request.IsAuthenticated)
{    
    using (Html.BeginForm("SignOut", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav" style="text-align:right; list-style-type:none">
        <li>
            @Html.Label("Hello " + User.Identity.Name + "!")
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Sign out</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right" style="text-align:right; list-style-type:none">
        <li>@Html.ActionLink("Sign in", "SignIn", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}

