﻿/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
      padding-top: 40px;
  xpadding-bottom: 10px;
}



#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}

.text-muted {
    margin: 20px 0;
}

.form-login {
    max-width: 330px;
    padding: 0px 15px 5px 15px;
    margin: 0 auto;
}

    .form-login .form-login-heading {
        margin-bottom: 10px;
    }

  /*  .form-login .form-control {
        position: relative;
        height: auto;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 10px;
        font-size: 16px;
    }*/

  /*     .form-login .form-control:focus {
            z-index: 2;
        }*/

 /*   .form-login input[type="password"] {
        margin-top:5px;
        margin-bottom: 5px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }*/
    #logo {
        font-family: 'Orbitron', sans-serif;
        font-size: 30px;
    }
   .navbar .container{ height: 55px;}

   #content-wrapper {
       margin-top: 30px;
   }
   input.form-control,.btn {
       border-radius: 3px;
   }
   input.form-control {
       height: 43px;
   }

.social-icons {
    font-size: 40px;
    position: fixed;
    top: 180px;
    right: 5px;
    width: 45px;
    color: #008cba;
}
.social-icons i {
    display: block;
}
#login-box {
    width: 380px;
    border: 1px solid #e4e6e8;
    margin: 0 auto;
    padding: 30px;
}
.social-icon-wrap {
    float: right;
}
.social-icon-wrap.facebook {
    float: left;
}
.login-or {
    position: relative;
    top: -31px;
    width: 30px;
    text-align: center;
    background: #ffffff;
    left: 147px;
    font-size: 12px;
}


.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */