<h1>taylor fit</h1>
<!--<input type="text" percent-format="" ngModel/>-->
<!--<form #form="ngForm">
    <p>ngModel value: {{outerCounterValue}}</p>
    <counter-input name="counter"  [ngModel]="outerCounterValue"></counter-input> 
  <pre>{{ form.value | json }}</pre>
</form>-->
<form [formGroup]="form">
   <counter-input formControlName="counter" counterRangeMax="10"
  counterRangeMin="0"></counter-input>
</form>
<p *ngIf="!form.valid">Counter is invalid!</p>
 <pre>{{ form.value | json }}</pre>

