﻿    
<div class="row">
    <div class="col-md-6">
        <video id="my-video" class="video-js" controls preload="auto" width="560" height="400" autoplay
               poster="MY_VIDEO_POSTER.jpg" data-setup="{}">
            <source src="//content.jwplatform.com/videos/3XnJSIm4-640.mp4" type='video/mp4'>
            <source src="MY_VIDEO.webm" type='video/webm'>
            <p class="vjs-no-js">
                To view this video please enable JavaScript, and consider upgrading to a web browser that
                <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
            </p>
        </video>
    </div>
    <div class="col-md-6" style="text-align: justify;">
        <h1 class="text-center">Welcome to Taylorfit UK</h1>
        <div>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec mollis libero magna, ut semper magna posuere sed. Cras vel arcu et metus pulvinar rhoncus. Vestibulum ex enim, dapibus quis malesuada quis, lacinia sed elit. Pellentesque sit amet aliquam arcu. Suspendisse potenti. Donec rutrum, sem eget mattis varius, tellus tortor sollicitudin nulla, eu pellentesque nunc mauris id tellus. In ultricies pharetra sem, sit amet laoreet lorem bibendum sagittis. Fusce interdum rutrum ligula ut iaculis. Sed ut placerat ligula, nec laoreet libero. Nulla sit amet imperdiet ipsum. Ut molestie nisl vitae lacus egestas, nec efficitur nisl sodales. Aenean quis porttitor justo. Vestibulum posuere, dui sed dignissim lacinia, est orci eleifend urna, et placerat eros nisl eget arcu. Nunc rutrum eget ligula non rutrum. Pellentesque at fringilla eros, sed accumsan nulla.

            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec mollis libero magna
        </div>
    </div>
</div>
<div class="row" style="margin-top: 20px;">
    <div class="col-md-12">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="/Content/images/running.jpg" alt="squat">
                    <div class="carousel-caption">
                        jogging
                    </div>
                </div>
                <div class="item">
                    <img src="/Content/images/running.jpg" alt="bench press">
                    <div class="carousel-caption">
                        jogging
                    </div>
                </div>
                <div class="item">
                    <img src="/Content/images/running.jpg" alt="jogging">
                    <div class="carousel-caption">
                       jogging
                    </div>
                </div>
                
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>
