﻿<form role="form">
    <div class="row">
      <!--  <div class="col-md-2">
            &nbsp;
        </div>-->
        <div class="col-md-12">
            <div id="login-box">
                <div class="clearfix">
                    <div class="social-icon-wrap facebook"><button class="btn btn-large btn-facebook btn-block" type="button" data-ng-click="authExternalProvider('Facebook')"><i class="fa fa-facebook"></i> |Facebook</button>
                    </div>
                    <div class="social-icon-wrap"><button class="btn btn-large btn-google-plus btn-block" type="button" data-ng-click="authExternalProvider('Google')"><i class="fa fa-google-plus"></i> |Google+</button>
                    </div>
                </div>
                <hr class="hr-or"/>
                <div class="login-or">OR</div>
                <p><input type="text" class="form-control" placeholder="Username" data-ng-model="loginData.userName" required autofocus></p>
                <p><input type="password" class="form-control" placeholder="Password" data-ng-model="loginData.password" required></p>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" data-ng-model="loginData.useRefreshTokens"><strong>Remember me</strong>
                    </label>
                </div>
                <button class="btn btn-md btn-info btn-block" type="submit" data-ng-click="login()">Login</button>
                <div data-ng-hide="message == ''" class="alert alert-danger">
                    {{message}}
                </div> 
            </div>
        </div>
    <!--   <div class="col-md-4">
            <h2 class="form-login-heading">Social Logins</h2>
            <p>Or you can login using one of the social logins bleow</p>
            <button class="btn btn-large btn-facebook btn-block" type="button" data-ng-click="authExternalProvider('Facebook')"><i class="fa fa-facebook"></i> | Connect with Facebook</button>
            <button class="btn btn-large btn-google-plus btn-block" type="button" data-ng-click="authExternalProvider('Google')"><i class="fa fa-google-plus"></i> | Connect with Google+</button>
        </div>
        <div class="col-md-2">
            &nbsp;
        </div>-->
    </div>
</form>