﻿@model LocalisationDemo.Models.LoginModel
@{
    ViewBag.Title = "Index";
}
<h2>@LocalizationLibrary.MyResources.demoAppTitle</h2>

@using (Html.BeginForm())
{
    <p>
        @Html.LabelFor(m => m.UserName)
        @Html.TextBoxFor(m => m.UserName)
        @Html.ValidationMessageFor(m => m.UserName)
    </p>

    <p>
        @Html.LabelFor(m => m.Password)
        @Html.TextBoxFor(m => m.Password)
        @Html.ValidationMessageFor(m => m.Password)
    </p>

    <p>
        <input type = "submit" value = "@LocalizationLibrary.MyResources.SubmitBtn" />
    </p>
}
