  <div class="ui raised segment">  
    <h2 class="ui header">Demo Form: Sku</h2>  
    <form #f="ngForm"  
          (ngSubmit)="onSubmit(f.value)"  
          class="ui form" id="test-form">
      <div class="field">  
        <label for="skuInput">SKU</label>  
        <input type="text"  
               id="skuInput"  
               placeholder="SKU"  
               name="sku" ngModel>  
      </div>
 
      <button type="submit" class="ui button">Submit</button>  
     <test-comp></test-comp>
    </form>  
     
  </div>
  <div>
      <h2>Wikipedia Search</h2>
      <input type="text" [formControl]="term"/>
      <ul>
        <li *ngFor="let item of items  | async">{{item}}</li>
      </ul>
    </div>
   <router-outlet></router-outlet>