﻿@using System.Security.Claims
@{
    ViewBag.Title = "Home Page";
}


 @if (ClaimsPrincipal.Current.Identity.IsAuthenticated)
 {
     <p>@Html.ActionLink("Log out","SignOut")</p>
 }
 else
 {
     <p> <a href="@(ViewBag.LoginUrl)">Sign In</a></p>
 }
<div class="row">
    <h1>hello @User.Identity.Name</h1>
    <ul>
       @foreach (var claim in ClaimsPrincipal.Current.Claims)
       {
           <li> @claim.Type : @claim.Value</li>  
       } 
    </ul>
</div>