﻿@model WsFederationBasic.Controllers.User
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2> 

@using (Html.BeginForm("Login","Home"))
{
    <p>
        @Html.TextBoxFor(m => m.UserName)
    </p>
    <p>
        @Html.PasswordFor(m => m.Password)
    </p>
    <p>
        <input type="submit" value="submit"/>
    </p>
}

