﻿@model TheAgency.Models.Assignment
@using TheAgency
<form id="addAssignment" data-bind="submit: createAssignmentFromForm">
@Html.ValidationSummary(true)
<fieldset>
	<legend>Assignment</legend>
	<div class="editor-label">
		@Html.LabelFor(model => model.Date)
	</div>
	<div class="editor-field">
		@Html.TextBoxFor(model => model.Date, new { @class = "datepicker" })
		@Html.ValidationMessageFor(model => model.Date)
	</div>
	<div class="editor-label">
		@Html.LabelFor(model => model.Description)
	</div>
	<div class="editor-field">
		@Html.EditorFor(model => model.Description)
		@Html.ValidationMessageFor(model => model.Description)
	</div>
	<div class="editor-label">
		@Html.LabelFor(model => model.Priority)
	</div>
	<div class="editor-field">
		@Html.EnumDropDownListFor(model => model.Priority)
		@Html.ValidationMessageFor(model => model.Priority)
	</div>	
	<p>
		<input type="submit" value="Create" />
	</p>
</fieldset>
</form>
