﻿@model TheAgency.Models.Agent

<form id="addAgent" data-bind="submit: agentsViewModel.createAgentFromForm">
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Agent</legend>

		 @Html.EditorForModel()

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
</form>