﻿@model ILookup<string, TheAgency.ApiDoc>
           
@{
    ViewBag.Title = "API";
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jquerytmpl")
    <script>
        $(function () {
            $(".accordion").accordion({
                active: false,
                collapsible: true,
                autoHeight: false
            });
            $("table thead").addClass("ui-widget-header");
            $("table tbody").addClass("ui-widget-content");
            $('.mediaTypeTabs').tabs();
        });
    </script>
}

<h1>API</h1>
@foreach (var group in Model)
{
    @Html.DisplayFor(m => group, "ApiGroup")
}


