﻿
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>
    <p>FirstName: <input type="text" name="FirstName" id="FirstName"/>
    </p>
    <p>
        file upload : <input type="file" name="file" id="myFile" multiple=""/>
    </p>
    <p>
        <input type="button" id="myBtn" value="Submit"/>
    </p>
    <form id="myForm" method="post" enctype="multipart/form-data"></form>
</div> 

@section scripts{
    <script type="text/javascript">  
        var formData = new FormData();

        $('#myBtn').click(function() {


            var jdata = JSON.stringify({ FirstName: $('#FirstName').val() });

            formData.append('data', jdata);

            var files = $('#myFile').get(0).files;
            formData.append('file', files[0]);
            fetch('api/person', {
                method: 'post',
                body: formData
            });

        });
    </script>
}

