﻿@using System.Web.Http.Controllers
@using System.Web.Http.Description
@using TheAgency

@model ApiDoc

@{ var description = Model.Api; }

<h3><a href="#">@description.HttpMethod.Method @description.RelativePath</a></h3>
<div>
    <p>@description.Documentation</p>
    <h4>Parameters</h4>
    @if (description.ParameterDescriptions.Count > 0)
    {
        <table>
            <thead>
                <tr><th>Name</th><th>Documentation</th><th>Parameter Source</th></tr>
            </thead>
            <tbody>
                @Html.DisplayFor(m => description.ParameterDescriptions)
            </tbody>
        </table>
    }
    else
    {
        <p>None</p>
    }
                
   @* <h4>Request formats</h4>
    @Html.DisplayFor(apiDoc => apiDoc.SampleRequests, "SampleMessages")
                
    <h4>Response formats</h4>
    @Html.DisplayFor(apiDoc => apiDoc.SampleResponses, "SampleMessages")*@
</div>    