﻿<!DOCTYPE html>
<html data-ng-app="FitUkApp">
<head>
    <title></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link href="Content/css/font-awesome.min.css" rel="stylesheet" />
    <link href="Content/css/loading-bar.min.css" rel="stylesheet" />
    <link href="Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="Content/css/site.css" rel="stylesheet" />
    <link href="Content/css/social-buttons.css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Orbitron:400,500' rel='stylesheet' type='text/css'>
    <link href="http://vjs.zencdn.net/5.9.2/video-js.css" rel="stylesheet">
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation" data-ng-controller="indexController">
        <div class="container">
            <div class="navbar-header">
                <button class="btn btn-success navbar-toggle" data-ng-click="navbarExpanded = !navbarExpanded">
                    <span class="glyphicon glyphicon-chevron-down"></span>
                </button>
                <a class="navbar-brand" id="logo" href="#/home">Taylor fit UK</a>
            </div>
            <div class="collapse navbar-collapse" data-collapse="!navbarExpanded">
                <ul class="nav navbar-nav navbar-right">
                    <li data-ng-hide="!authentication.isAuth"><a href="#">Welcome {{authentication.userName}}</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">My Account</a></li>
                    <li><a href="#">Workout</a></li>
                    <li data-ng-hide="!authentication.isAuth"><a href="" data-ng-click="logOut()">Logout</a></li>
                    <li data-ng-hide="authentication.isAuth"> <a href="#/login">Login</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container" id="content-wrapper">
        <div data-ng-view=""></div>
    </div>
<div id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p class="text-muted">&copy; <a href="#/home" style="text-decoration: none;color: #999999">taylorfituk.com</a></p>
            </div>
            <div class="col-md-6">
                <p class="text-muted"></p>
            </div>
        </div>
    </div>
</div>

<div class="social-icons">
    <i class="fa fa-facebook" style="color: #008cba"></i>
    <i class="fa fa-twitter"></i>
    <i class="fa fa-instagram"></i>
    <i class="fa fa-linkedin"  style="color: #008cba"></i>
</div>
<!-- 3rd party libraries -->
    <script src="https://code.jquery.com/jquery-1.12.3.min.js" integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.29/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.29/angular-route.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="scripts/angular-local-storage.min.js"></script>
    <script src="scripts/loading-bar.js"></script>


    <script src="app/app.js"></script>

    <script src="app/services/authInterceptorService.js"></script>
    <script src="app/services/authService.js"></script>
    <script src="app/services/tokensManagerService.js"></script>

    <script src="app/controllers/indexController.js"></script>
    <script src="app/controllers/homeController.js"></script>
    <script src="app/controllers/loginController.js"></script>
    <script src="app/controllers/signupController.js"></script>
    <script src="app/controllers/refreshController.js"></script>
    <script src="app/controllers/tokensManagerController.js"></script>
    <script src="app/controllers/associateController.js"></script>
    <script src="http://vjs.zencdn.net/5.9.2/video.js"></script>
</body>
</html>
